<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./demo.css">
</head>

<body>
    <div id="app">
        <div class="title">
            <div class="content">
                <p>toDoList</p>
                <div class="ipt">
                    <input type="text" @input="eventListen" :value="searchWords">
                    <button @click="addEvent">添加</button>
                </div>
            </div>
            <div class="conduct">
                <div class="head">
                    正在进行
                    <span>{{ conductEvents.length }}</span>
                </div>
                <ul>
                    <li v-for="(item, index) in conductEvents" :key="item.id">
                        <div class="left">
                            <input type="checkbox" @click="changeStatus(index, 'ed')">
                            {{ item.title }}
                        </div>
                        <button class="del" @click="delEvents(index, 'ed')">删除</button>
                    </li>
                </ul>
            </div>
            <div class="complete">
                <div class="head">
                    已经完成
                    <span>{{ completeEvents.length }}</span>
                </div>
                <ul>
                    <li v-for="(item, index) in completeEvents" :key="item.id">
                        <div class="left">
                            <input type="checkbox" @click="changeStatus(index, 'ing')">
                            {{ item.title }}
                        </div>
                        <button class="del" @click="delEvents(index, 'ing')">删除</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                searchWords: '',
                conductEvents: [],
                completeEvents: []
            },
            methods: {
                // 监听input输入内容
                eventListen(e) {
                    this.searchWords = e.target.value;
                },
                // 添加正在进行
                addEvent() {
                    if (this.searchWords === '') {
                        return
                    }
                    this.conductEvents.push({
                        title: this.searchWords,
                        id: Math.random()
                    });
                    this.searchWords = '';
                },
                // 事件删除
                delEvents(index, type) {
                    const item = type === 'ed' ? this.conductEvents : this.completeEvents;
                    item.splice(index, 1)
                },
                // 事件状态改变
                // ed => 从正在进行到已经完成
                // ing => 从已经完成到正在进行
                changeStatus(index, type) {
                    if(type === 'ed') {
                        const item = this.conductEvents.splice(index, 1);
                        this.completeEvents.push(...item);
                    } else if (type == 'ing') {
                        const item = this.completeEvents.splice(index, 1);
                        this.conductEvents.push(...item);
                    }
                }
            }
        })
    </script>
</body>

</html>